# Ignore all
/*

!.gitignore
!README.md

# Computacion numerica
S03E02/*
!"S03E02/Computacion numerica/"
"S03E02/Computacion numerica/*"
!"S03E02/Computacion numerica/U1/"
"S03E02/Computacion numerica/U1/*"
!"S03E02/Computacion numerica/U1/EigenfacesPCA-N2xN2.ipynb"